@page "/"
@attribute [Authorize]

@using Microsoft.AspNetCore.Authorization
@using SmugglerCode.Blazor.UI.Components.Common

<style>
    .label {
        color: steelblue;
        font-weight: bolder;
    }
    
</style>

<div style="@CssStyles">

<Button OnClick="Increment">+</Button>
<Button OnClick="Decrement">-</Button>


<div style="padding:20px;">
    <span class="label">Is interactive: </span>@RendererInfo.IsInteractive <br />
    <span class="label">Render mode: </span>@RendererInfo.Name <br />
    <span class="label">Assigned render mode: </span>@AssignedRenderMode <br />
</div>

<DynamicCssScope IsDynamicSize="_isDynamicSize">

        <TextBox @bind-Text="_customerName" IsDisabled="_show"></TextBox>

        <Button Label="Test" OnClick="ToggleDynamicSize" IsVisible=_show></Button>
        <Button Label="Toggle visibility" Type="ButtonType.Alert" OnClick="Toggle" IsDisabled="false"></Button>

</DynamicCssScope>

</div>