@page "/"
@attribute [Authorize]

@using Microsoft.AspNetCore.Authorization
@using SmugglerCode.Blazor.UI.Components.Common
@using SmugglerCode.Blazor.UI.Components.Selectors

<div style="@CssStyles">

<DynamicCssScope IsDynamicSize="_isDynamicSize">

        <Button Label="@(_disabled ? "Enable": "Disable")" Type="ButtonType.Alert" OnClick="Toggle" IsDisabled="false"></Button>

        <DisabledScope IsDisabled="_disabled">

            <TextBox @bind-value="_customerName"></TextBox>
 
        </DisabledScope>

    </DynamicCssScope>

</div>