@page "/security/login"
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using SmugglerCode.Blazor.UI.Sandbox.Components.Logic
@using System.Security.Claims
Inloggen.

<div class="grid-1fr-auto">
    <TextBox OnEnter="LoginUser" @bind-Text="password" Icon="sc-search" OnIconPressed="UpdateText"></TextBox>
    <Button OnClick="LoginUser">Login</Button>
    <ShortTextBox @bind-Text="shortValue"></ShortTextBox>
    <IntTextBox @bind-Text="intValue"></IntTextBox>

</div>

<div>Value: @updateText</div>

<div>@originalHash</div>
<div>@pwdHash</div>

@success

@code 
{
    private int intValue = 200;
    private string password = string.Empty;
    private bool success = false;
    private string originalHash = "pZuaGn5TXbtXcMP0vXVCqza4LJIa4ZNBc9vzAZxMv5A=";
    private string pwdHash = string.Empty;
    private string updateText = "Not yes set";
    private short shortValue = 10;

    private void UpdateText(string text)
    {
        updateText = text;    
    }

    private void LoginUser()
    {
        pwdHash = password.ToSHA256();

        success = originalHash == pwdHash;

        var claims = new List<Claim>()
        {
            new Claim(ClaimTypes.Name, "Tommy"),
            new Claim(ClaimTypes.Country, "Belgium")
        };

        var identity = new ClaimsIdentity(claims);

        var principal = new ClaimsPrincipal(identity);
    }
}