<div class="input-group-container">

    @if (string.IsNullOrWhiteSpace(Label) == false)
    {
        <div class="input-group-label">
            @Label
        </div>
    }

    <div class=input-group-content>
        @ChildContent
    </div>
    

</div>