@using Intilium.Sandbox.Blazor.Components.Pages.CodeGen
@using Intilium.Sandbox.Blazor.Components.Pages.CodeGen.Models

<div class="inti-diagram-canvas-container" 
style="@ViewModel.CanvasCss">

    <div class="inti-diagram-layout">

        <!--  WORK MENU  -->
        <div>
            <InputGroup Label="Type class">
                <DropDown ShowFilter="true" 
                          @bind-SelectedItem="ViewModel.SelectedTypeClass" 
                          Items="ViewModel.TypeClasses" 
                          T="TypeClass"
                          PropertyName="Name"></DropDown>
            </InputGroup>
            <div>
                <IntiButton Label="Add" OnClick="AddTypeClass"></IntiButton>
            </div>

            @if (ViewModel.SelectedCard != null)
            {
                <div style="display:grid;grid-template-columns:1fr 1fr">
                    <InputGroup Label="X">
                        <IntiTextBox TValue="decimal" @bind-Text="ViewModel.SelectedCard.X.Size"></IntiTextBox>
                    </InputGroup>
                    <InputGroup Label="Y">
                        <IntiTextBox TValue="decimal" OnEnter="UpdateCanvas" @bind-Text="ViewModel.SelectedCard.Y.Size"></IntiTextBox>
                    </InputGroup>
                </div>
            }

         </div>

         <div class="inti-canvas-content">
            <canvas id="@CanvasId"
                    class="inti-canvas"
                    width="@CanvasWidth"
                    height="@CanvasHeight"
                    @onclick="HandleCanvasClick">
            </canvas>

            @foreach (var card in ViewModel.Cards)
            {
                <TypeClassCardView HandleCardSelection="SelectCard" ViewModel="card"></TypeClassCardView>
            }
         </div>

     </div>

</div>

