div.sc-textbox-container {
    padding: var(--container-textbox-padding);
    height: var(--container-height);
    width: var(--container-width);
    background-color: var(--textbox-background-color);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto 1fr auto;
    cursor: text;
    border-top: var(--container-border-top);
    border-bottom: var(--container-border-bottom);
    border-left: var(--container-border-left);
    border-right: var(--container-border-right);
    border-radius: var(--container-border-radius);
}

div.sc-textbox-container input {
    width: 100%;
    border: 0;
    outline: 0;
}

div.sc-textbox-container.sc-disabled {
    border: solid 1px lightgray;
}

.sc-textbox-container.sc-disabled input:focus {
    outline: none !important;
}

div.sc-textbox-container.sc-disabled input
{
    color: lightgray;
    background: white;
}

div.sc-textbox-container:focus-within {
    border-top: var(--container-border-top-focus);
    border-bottom: var(--container-border-bottom-focus);
    border-left: var(--container-border-left-focus);
    border-right: var(--container-border-right-focus);
}

/*  ICON SETTINGS  */
div.sc-textbox-container .sc-icons {
    grid-column: 3;
    grid-gap: 5px;
    display: grid;
    grid-template-columns: auto auto;
    cursor: pointer;
}

div.sc-textbox-container.sc-disabled .sc-icons {
    cursor: default;
}

div.sc-textbox-container .sc-textbox-icon {
    color: var(--textbox-color);
    font-size: 12px;
    padding: 3px 0 0 0;
}

div.sc-textbox-container.sc-disabled .sc-textbox-icon {
    color: var(--textbox-color-disabled);
}