@typeparam TValue
@namespace SmugglerCode.Blazor.UI.Components.Inputs
@inherits SmugglerCode.Blazor.UI.Components.Common.DisabledScopeBase

@if (IsVisible)
{
    <div class="sc-textbox-container @CssClasses" role="textbox" @onclick="SetFocusToInput">
        <input type="@InputType"
               value="@BindConverter.FormatValue(Text)"
               @ref="_inputRef"
               @onkeypress="OnKeyPressed"
               @oninput="OnTextChanged"
               disabled="@IsEffectivelyDisabled" />
    </div>
}
