@namespace SmugglerCode.Blazor.UI.Components.Inputs
@inherits SmugglerCode.Blazor.UI.Components.Common.DisabledScopeBase

@if (IsVisible)
{
    <div class="sc-textbox-container @CssClasses" role="textbox" @onclick="SetFocusToInput">
        <input type="text"
        style="grid-column:2"
        @bind="Value"
        @bind:event="oninput"
        @ref="_inputRef"
        @onkeypress="OnKeyPressed"
        disabled="@IsEffectivelyDisabled" />

        <!--  CROSS ICON - RESET FIELD -->
        <div class="sc-icons">
            <div class="sc-cross sc-textbox-icon"
            @onclick="ClearPressedEventHandler">
            </div>

            @if (Icon != null)
            {
                <div class="@Icon sc-textbox-icon"
                     style="grid-column: 2;"
                     @onclick="IconPressedEventHandler">
                </div>
            }


        </div>
    </div>
}
