.inti-card {
    border: solid 1px #DE4981;
    display: inline-block;
    min-width: 24rem;
    max-width: 24rem;
    width: 24rem;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.inti-card .header {
    height: 2rem;
    background-color: #DE4981;
    color: white;
    font-size: 1.2rem;
    padding-top: 0rem;
    text-align: center;
}

.inti-card-content {
    padding: 1rem;
    background: white;
 }

.inti-card-content > div > div {
    padding-bottom: 0.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
}