<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav>

        <!-- HOME MENU -->
        <NavLink class="nav-link sidebar-menu" sidebar-menu href="" Match="NavLinkMatch.All" ActiveClass="active">
            <div class="menu-item">
                <div class="menu-selected-indicator" aria-hidden="true"/>
                <div class="bi bi-house-door-fill menu-icon" aria-hidden="true"></div>
                <div class="menu-title">Home</div>
            </div>
        </NavLink>

        <!-- PROJECT MENU --> 
        <NavLink class="nav-link sidebar-menu" sidebar-menu href="Diagram" Match="NavLinkMatch.All" ActiveClass="active">
            <div class="menu-item">
                <div class="menu-selected-indicator" aria-hidden="true" />
                <div class="bi bi-box-fill menu-icon" aria-hidden="true"></div>
                <div class="menu-title">Project</div>
            </div>
        </NavLink>

        <!-- DOCUMENTATION -->
        <NavLink class="nav-link sidebar-menu" sidebar-menu href="Documents" Match="NavLinkMatch.All" ActiveClass="active">
            <div class="menu-item">
                <div class="menu-selected-indicator" aria-hidden="true" />
                <div class="bi bi-book-half menu-icon" aria-hidden="true"></div>
                <div class="menu-title">Documentation</div>
            </div>
        </NavLink>

    </nav>
</div>

