@typeparam TValue

@if (Label != null)
{
    <div class="label">@Label</div>
}

<input type="Text" 
       value="@BindConverter.FormatValue(Text)"
       @onkeypress="OnKeyPressed"
       @oninput="OnTextChanged" />