@rendermode InteractiveServer

<div class="checkbox-container">
    <div class="inner-checkbox-container">

        @if (IsChecked)
        {
            <i class="inti-checked-checkbox-fill check-box-icon" @onclick="() => HandleClick(false)"></i>
        } 
        else
        {
            <i class="inti-unchecked-checkbox check-box-icon" @onclick="() => HandleClick(true)"></i>
        }

        @if (Label != null)
        {
            <div class="checkbox-label">@Label</div> 
        }
    </div>
</div>