@typeparam TItem

<CascadingValue Value="this">
    @ChildContent
</CascadingValue>

<div class="inti-datagrid" style="grid-template-columns:@GridTemplateColumns;">

    <!-- Render header -->    
    @if (Columns.Count > 0)
    {
        @foreach (var column in Columns)
        {
            <div class="inti-datagrid-header-cell" role="gridcell">@column.Title</div>
        }
    }

    @foreach (var item in Items)
    {
        @if (item != null)
        {
            @foreach (var column in Columns)
            {
                var value = column.Property != null
                ? GetPropertyValue(item, column.Property)
                : string.Empty;
                    @if (column.CellType == DataGridCellType.Text) 
                    {
                    <div class="inti-datagrid-cell" role="gridcell">
                        @value
                    </div>
                }
                else if (column.CellType == DataGridCellType.CheckBox)
                    {
                    <div class="inti-datagrid-cell checkbox-grid-cell" role="gridcell">
                        <IntiCheckBox IsChecked="@(value != null)"></IntiCheckBox>
                    </div>
                }
            }
        }
    }

</div>