@using Intilium.Sandbox.Blazor.Database.Doc

<div class="editor-container">

    <div class="first-column">
    <!--  CATEGORY NAME -->
    <InputGroup Label="Categorie naam">
        <IntiTextBox TValue="string" @bind-Text="_category.Title"></IntiTextBox>
    </InputGroup>

    <!--  PARENT CATEGORIES  -->
    <InputGroup Label="Is onderdeel van een categorie?">
        <DropDown T="DocumentCategoryEntity" Items="_parentCategories" PropertyName="Title" SelectedItemChanged="ChangeParentCategory"></DropDown>
    </InputGroup>

    <!--  IS DOCUMENTATION PAGE  -->
    <InputGroup>
        <IntiCheckBox Label="Dit is de documentatie pagina." @bind-IsChecked="_category.IsDocumentationPage"></IntiCheckBox>
    </InputGroup>

    <!--  BUTTON  -->
    @if (_category.Id == 0)
    {
        <IntiButton Label="Toevoegen" OnClick="@InsertCategoryAsync"></IntiButton>
    }
    else
    {
        <IntiButton Label="Updaten" OnClick="@UpdateCategory"></IntiButton>
    }
    </div>

    <div class="second-column">
        <!--  TREE VIEW CATEGORIES -->
        <IntiTreeView T="DocumentCategoryEntity" Items="_categories"></IntiTreeView>
    </div>
</div>
