.sc-button {
    background-color: #de4981;
    color: white;
    padding: .5rem 2rem;
    box-sizing: border-box;
    border-radius: 10px;
    display: inline-block;
    min-width: 8rem;
    text-align: center;
    font-size: 1rem;
    height: 2.5rem;
    user-select: none;
    vertical-align: top;
    -webkit-user-select: none; /* for Safari */
    -moz-user-select: none; /* for Firefox */
    -ms-user-select: none; /* for older versions of IE */
}

.sc-button-alert {
    background-color: red;
}

.sc-button-alert:hover {
    background-color:darkred;
}

.sc-button-primary:hover {
    background-color: #346f9f;
}

.sc-button-primary {
    background-color: steelblue;
}

div[role = 'button'].sc-disabled, 
.sc-disabled[role = 'button']:hover {
    background-color: lightgray;
    color: dimgray;
    cursor: inherit;
}