.sc-button-container {
    height: var(--container-height);
    background-color: var(--button-primary-background-color);
    color: var(--button-primary-color);
    padding: var(--button-padding);
    box-sizing: border-box;
    height: var(--container-height);
    width: var( --container-width);
    display: inline-block;
    min-width: 8rem;
    text-align: center;
    font-size: var(--button-font-size);
    border-radius: var(--button-border-radius);
    user-select: none;
    vertical-align: top;
    -webkit-user-select: none; /* for Safari */
    -moz-user-select: none; /* for Firefox */
    -ms-user-select: none; /* for older versions of IE */
}

.sc-button-alert {
    background-color: red;
}

.sc-button-alert:hover {
    background-color:darkred;
}

.sc-button-primary:hover {
    background-color: #346f9f;
}

.sc-button-primary {
    background-color: steelblue;
}

div[role = 'button'].sc-disabled, 
.sc-disabled[role = 'button']:hover {
    background-color: lightgray;
    color: dimgray;
    cursor: inherit;
}